body {font-family: 'Noto Sans TC', sans-serif;
      background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}
h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans TC', sans-serif;}
.subheading {font-family: 'Noto Sans TC', sans-serif;}
.bg-primaryimage: {
  background-color: #4100ba important!;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}
table {
	width:50%       
}
tr:nth-child(even) {
	 background-color:#84C1FF;
}
tr:hover{
  font-weight:bold
}
tr:first-child {
	border-bottom:3px,solid,#000000ï¼›
}
ul class="fa-ul mb-0"{
	font-size: 3rem
}
